html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; font: inherit; font-size: 100%; vertical-align: baseline; }
html { line-height: 1; }
ol, ul { list-style: none; }
table { border-collapse: collapse; border-spacing: 0; }
caption, th, td { text-align: left; font-weight: normal; vertical-align: middle; }
q, blockquote { quotes: none; }
q:before, q:after, blockquote:before, blockquote:after { content: ""; content: none; }
a img { border: none; }
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary { display: block; }
.container { max-width: 960px; margin: 0 auto; }
.row:before, .row:after { content: " "; display: table; }
.row:after { clear: both; }
.row { *zoom: 1; }
.col { border: 0px solid rgba(0, 0, 0, 0); float: left; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; -moz-background-clip: padding-box !important; -webkit-background-clip: padding-box !important; background-clip: padding-box !important; margin: 0 2%; display: block; }
.three-one, .three-two, .three-three, .four-one, .four-two, .four-three, .four-four { width: 96%; }
.nested { margin: 0; width: 100%; }
.nested .row { margin: 0; }
@media screen and (min-width: 480px) { .row, .col { margin: 0 1%; }
  .three-one { width: 48%; }
  .three-two { width: 48%; }
  .three-three { width: 98%; }
  .three-one.tablet-full { width: 98%; }
  .four-one { width: 48%; }
  .four-two { width: 48%; }
  .four-three { width: 98%; }
  .four-four { width: 98%; }
  .four-one.tablet-full { width: 98%; }
  .nested { margin: 0; width: 100%; }
  .nested .row { margin: 0; } }
@media screen and (min-width: 760px) { .three-one, .three-one.tablet-full { width: 31.33333333%; }
  .three-two { width: 64.66666667%; }
  .four-one, .four-one.tablet-full { width: 23%; }
  .four-two { width: 48%; }
  .four-three { width: 73%; }
  .three-one .row, .three-one .col, .three-two .row, .three-two .col, .three-three .row, .three-three .col, .four-one .row, .four-one .col, .four-two .row, .four-two .col, .four-three .row, .four-three .col, .four-four .row, .four-four .col { margin: 0%; }
  .three-one .col, .three-two .col, .three-three .col, .four-one .col, .four-two .col, .four-three .col, .four-four .col { margin: 0 1%; } }