.container {
	max-width:960px;
	margin:0 auto;
}
.row:before,
.row:after {
    content: " "; 
    display: table; 
}
.row:after {
    clear: both;
}
.row {
	*zoom: 1;
}
.col {
	border:0px solid rgba(0,0,0,0);
	float:left;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
	-moz-background-clip:padding-box !important;
	-webkit-background-clip:padding-box !important;
	background-clip:padding-box !important;
	margin: 0 2%;
	display:block;
}
.three-one, .three-two, .three-three,
.four-one, .four-two, .four-three, .four-four {
	width:96%;
}
.nested {
	margin:0;
	width:100%;
	.row {margin:0;}
}
@media screen and (min-width: 480px) {
	.row,
	.col {
		margin:0 1%;
	}
	.three-one {
		width:48%;
	}
	.three-two {
		width:48%;
	}
	.three-three {
		width:98%;
	}
	 .three-one.tablet-full {width:98%}
	.four-one {
		width:48%;
	}
	.four-two {
		width:48%;
	}
	.four-three {
		width:98%;
	}
	.four-four {width:98%;}
	.four-one.tablet-full {width:98%;}
	.nested {
		margin:0;
		width:100%;
		.row {margin:0;}
	}
}
@media screen and (min-width: 760px) {
	.three-one, .three-one.tablet-full {
		width:31.33333333%;
	}
	.three-two {
		width:64.66666667%;
	}
	.four-one, .four-one.tablet-full {
		width:23%;
	}
	.four-two {
		width:48%;
	}
	.four-three {
		width:73%;
	}
	.three-one, .three-two, .three-three,
	.four-one, .four-two, .four-three, .four-four {
		.row,
		.col {
			margin:0%;
		}
		.col {margin:0 1%;}
	}
}